body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0b0a0a;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.square {
    width: 50px;
    height: 50px;
    background-color: #575a5b;
    transition: background-color 1s ease; /* Smooth transition */
    cursor: pointer;
}

.square:hover {
    background-color: #e74c3c;
}

   